<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}

{# Display a form #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" type="text/css"/>
    {% block head_block %}
    {% endblock head_block %}
</head>
<body>
    {% block body_block %}
    {% endblock body_block %}
</body>
</html>


